.btn-group * {
    font-size: 24px;    
  }
  .btn-group a
  , .logout-btn
  , .header-title {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    outline: none;
    border: none;
    background: transparent;
  }
  .btn-group a:hover
  , .logout-btn:hover
  , .header-title Link:hover {
    color: #333;
    font-weight: 700;
  }